.item-detail-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  padding: 20px;
}

.item-details-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.bestseller {
  margin-bottom: 3px;
}

.details-order-count-conatiner {
  height: 2rem;
  width: 20%;
  padding: 0.75rem 1rem;
  background-color: #6be2be;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.875rem 0;
  color: #000;
  font-weight: 700;
  transition: padding 500ms;
}

.detail-label {
  font-size: 1.3rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.detail-price {
  font-size: 1rem;
  line-height: 1.25rem;
  /* font-semibold */
  font-weight: 600;
}

.detail-item-description {
  font-size: 14px;
  color: #cececece;
}

.details-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-rate-count>p{
    font-size: 8px;
    color: #c3c3c3c3;
}

.RatingBig{
    width: 103px;
    height: 20px;
}